<input class="week-switch__button week-switch__button_day_{{day}}" id="week-switch__button_day_{{day}}" name="week-switch" type="radio" {{check}}>
<label for="week-switch__button_day_{{day}}" class="week-switch__label"></label>
<div class="week-switch__name week-switch__name_day_{{day}}"></div>