<input class='switch switch_type_{{type}}' type="checkbox" id="switch_type_{{type}}"/>
<label class='switch__label switch__label_type_{{type}}' for="switch_type_{{type}}"></label>
<span class='switch__name switch__name_type_{{type}}'></span>
